.bg{
   background-image: url(/images/bg_img.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  /* background-color: rgb(219, 145, 93); */
}
/*carousel starts*/
.carousel-inner{
  padding: 50px 50px;
  margin: auto;
  width: 90%;
}
.carousel-inner img{
  width: 100%;
}
/*carousel ends*/
/*student-teacher login starts*/
.login-sec{
   padding-bottom: 50px;
}
#image{
   margin-left:100px;
   margin-right:100px;
   width:350px;
   height:350px;
}
.modal-dialog{
  width: 400px;
  margin: 70px auto 0;
}
.modal-dialog{ transform: scale(0.5); }
.modal-dialog{ transform: scale(1); }
.modal-dialog .modal-content{
  text-align: center;
  border: none;
}
.modal-content .close{
  color: #fff;
  background: linear-gradient(to right, #f99296, #e94247, #a58182);
  font-size: 25px;
  font-weight: 400;
  text-shadow: none;
  line-height: 27px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  overflow: hidden;
  opacity: 1;
  position: absolute;
  left: auto;
  right: 8px;
  top: 8px;
  z-index: 1;
  transition: all 0.3s;
}
.modal-content .close:hover{
  color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.close:focus{ outline: none; }
.modal-body{ padding: 60px 40px 40px !important; }
.modal-body .title{
  color: #f99296;
  font-size: 33px;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 10px;
}
.modal-body .description{
  color: #9A9EA9;
  font-size: 16px;
  margin: 0 0 20px;
}
.modal-body .form-group{
  text-align: left;
  margin-bottom: 20px;
  position: relative;
}
.modal-body .input-icon{
  color: #777;
  font-size: 18px;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 20px;
}
.modal-body .form-control{
  font-size: 17px;
  height: 45px;
  width: 100%;
  padding: 6px 0 6px 50px;
  margin: 0 auto;
  border: 2px solid #eee;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
}
.form-control::placeholder{
  color: #AEAFB1;
}
.form-group.checkbox{
  width: 130px;
  margin-top: 0;
  display: inline-block;
}
.form-group.checkbox label{
  color: #9A9EA9;
  font-weight: normal;
}
.form-group.checkbox input[type=checkbox]{
  margin-left: 0;
}
.modal-body .signup{
  color: #eba2a5;
  font-size: 13px;
  text-align: right;
  width: calc(100% - 135px);
  margin: 2px 0;
  display: inline-block;
  vertical-align: top;
  transition: all 0.3s ease 0s;
}
.signup:hover{
  color: #929ebe;
  text-decoration: underline;
}
.modal-content .modal-body .btn{
  color: #fff;
  background: linear-gradient(to right,  #f99296, #e94247, #a58182);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 38px;
  width: 100%;
  height: 40px;
  padding: 0;
  border: none;
  border-radius: 5px;
  border: none;
  display: inline-block;
  transition: all 0.6s ease 0s;
}
.modal-content .modal-body .btn:hover{
  color: #fff;
  letter-spacing: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content .modal-body .btn:focus{ outline: none; }
@media only screen and (max-width: 480px){
  .modal-dialog{ width: 95% !important; }
  .modal-content .modal-body{
      padding: 60px 20px 40px !important;
  }
} 
/*student-teacher login ends*/
/*refer a geek*/
.refer{
  background-image: url(/images/geekbg.jpg);
  background-size: cover;
  background-position: center;
}
.row{
  margin: initial !important;
}
.geek-text{
  max-width: 500px;
  margin-top: 50px;
  padding: 60px;
  background: #ffffff8c;
  margin-bottom: 20px;
}
.geek-text a{
  width:100px;
  display: block;
  color: #fff !important;
  background: #000;
  text-decoration: none;
  padding: 5px;
  text-align: center;
}
.refer img{
  width: 350px;
  height: 350px;  
  margin: -100px;
  margin-top: 130px;
  margin-left: 170px;
}
#gap{
  padding-top:150px;
}
.unique{
   align-items: center;
}